<div class="container-fluid courasel-container index-banner">
  <div class="carousel banner-picture fade-carousel slide" data-ride="carousel" data-interval="3000" id="bs-carousel">
    <!-- Overlay -->
    <div class="index-banner-container"></div>
    <div class="index-banner-tag">
      <p>
        <span class='hover-span'>TAKING</span>
        <span class='hover-span'>GLASS</span>
        <span class='hover-span'>TO</span>
        <span class='hover-span'>A</span>
        <span class='hover-span'>WHOLE</span>
        <span class='hover-span'>NEW</span>
        <span class='hover-span'>LEVEL</span>
        <span class='hover-span'>AND</span>
        <span class='hover-span'>CREATING</span>
        <span class='hover-span'>ORIGINAL</span>
        <span class='hover-span'>WORKS</span>
        <span class='hover-span'>OF</span>
        <span class='hover-span'>ART</span>
        <span class='hover-span'>IN</span>
        <span class='hover-span'>STAIRCASES</span>
        <span class='hover-span'>PLACING</span>
        <span class='hover-span'>US</span>
        <span class='hover-span'>A</span>
        <span class='hover-span'>STEP</span>
        <span class='hover-span'>ABOVE</span>
        <span class='hover-span'>THE</span>
        <span class='hover-span'>COMPETITION</span>
                     </p>
    </div>
    <div class="index-div">

      <div class="overlay"></div>


      <!-- Indicators -->
      <div class="next-prev-slides col-xs-12">
        <div class="left-container col-xs-1">
          <div class="prev-slide-left col-xs-12"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
        </div>
        <div class="right-container col-xs-1 col-xs-offset-10">
          <div class="next-slide-right col-xs-12"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
        </div>
      </div>

      <ol class="carousel-indicators">
        <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#bs-carousel" data-slide-to="1"></li>
        <li data-target="#bs-carousel" data-slide-to="2"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">

        <div class="item slides active">
          <div class="slide-1"></div>
          <div class="relative-over-banner">
            <div class="col-md-12 banner-title"></div>
          </div>
        </div>

        <div class="item slides">
          <div class="slide-2"></div>
          <div class="hero">
            <hgroup>
              <div class="relative-over-banner">
                <div class="col-md-12 banner-title"></div>
              </div>
            </hgroup>
            <!-- <button class="btn btn-hero btn-lg" role="button">See our work!</button> -->
          </div>
        </div>

        <div class="item slides">
          <div class="slide-3"></div>
          <div class="hero">
            <hgroup>
              <!-- <h1>Glass Railings</h1> -->
            </hgroup>
            <!-- <button class="btn btn-hero btn-lg" role="button">See our work!</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
