<footer class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
  <div class="contact-us col-xs-12 col-lg-12 col-sm-12 col-md-12">
    <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 contact-us-header">
      <h2 class="about-us-title">A B O U T &nbsp; U S</h2>
      <p>Contiglass is a company that provides state of the art glass and metal structures specializing in glass staircases. Contiglass strives to, and continues to do what's said could not be done to continually produce unique one of a kind products to our clients.</p>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 contact-info">
      <h2 class="contact-us-title">C O N T A C T &nbsp; U S</h2>
      <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 call">
        <div class="col-md-6 col-xs-12 col-lg-6 col-sm-12">
          <h3>C A L L &nbsp; U S</h3>
        </div>
        <div class="col-md-6 col-xs-12 col-lg-6 col-sm-12">
          <p>(305)-235-1237</p>
        </div> 
      </div>
      <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 email">
        <div class="col-md-6 col-xs-12 col-lg-6 col-sm-12">
          <h3>E M A I L &nbsp; U S</h3>
        </div>
        <div class="col-md-6 col-xs-12 col-lg-6 col-sm-12">
          <p>Horacio@contiglass.net</p>
        </div>
      </div>
      <div class="col-md-12  col-xs-12 col-lg-12 col-sm-12 visit">
        <div class="col-md-6 col-xs-12 col-lg-6 col-sm-12">
          <h3>V I S I T &nbsp; U S</h3>
        </div>
        <div class="col-md-6 col-xs-12 col-lg-6 col-sm-12">
          <p>8808 SW 129th St </br> Miami, FL 33176</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="col-xs-12 copyright">@ Copyright Contiglass 2017</div>
